In [1]:
import pandas as pd
from pathlib import Path

In [2]:
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
unique_schools = school_data_complete["school_name"].nunique()

In [6]:
total_students = school_data_complete["student_name"].count()

In [7]:
total_budget = school_data["budget"].sum()

In [8]:
average_math_score = school_data_complete["maths_score"].mean()

In [9]:
average_reading_score = school_data_complete["reading_score"].mean()

In [10]:
passing_math_score_cond = school_data_complete.loc[school_data_complete["maths_score"] >= 50]

In [11]:
passing_math_score_count = passing_math_score_cond["maths_score"].count()

In [12]:
percent_pass_math = passing_math_score_count / total_students * 100

In [13]:
passing_reading_score_cond = school_data_complete.loc[school_data_complete["reading_score"] >= 50]

In [14]:
passing_reading_score_count = passing_reading_score_cond["reading_score"].count()

In [15]:
percent_pass_reading = passing_reading_score_count / total_students * 100

In [16]:
passing_both_cond = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]

In [17]:
passing_both_count = passing_both_cond["student_name"].count()

In [18]:
percent_pass_both = passing_both_count / total_students * 100

In [19]:
area_summary = pd.DataFrame({"Total Schools": [unique_schools], "Total Students": [total_students], \
                                    "Total Budget": [total_budget], "Average Maths Score": [average_math_score], "Average Reading Score": [average_reading_score], \
                                    "% Passing Maths": [percent_pass_math], "% Passing Reading": [percent_pass_reading], \
                                    "% Overall Passing": [percent_pass_both]})

In [20]:
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [21]:
school_summary_1 = school_data.loc[:, ["school_name", "type", "budget"]]

In [22]:
by_school = school_data_complete.groupby(["school_name"])

In [23]:
students_by_school = by_school["student_name"].count()

In [24]:
students_by_school_df = students_by_school.reset_index(name="Total Students")

In [25]:
total_maths_by_school = by_school["maths_score"].sum()

In [26]:
average_maths_by_school = total_maths_by_school / students_by_school

In [27]:
average_maths_by_school_df = average_maths_by_school.reset_index(name="Average Maths Score")

In [28]:
total_reading_by_school = by_school["reading_score"].sum()

In [29]:
average_reading_by_school = total_reading_by_school / students_by_school

In [30]:
average_reading_by_school_df = average_reading_by_school.reset_index(name="Average Reading Score")

In [31]:
passing_math_score_cond = school_data_complete.loc[school_data_complete["maths_score"] >= 50]

In [32]:
passing_math_by_school = passing_math_score_cond.groupby(["school_name"])

In [33]:
passing_math_by_school_count = passing_math_by_school["maths_score"].count()

In [34]:
percent_pass_math_by_school = passing_math_by_school_count / students_by_school * 100

In [35]:
percent_pass_math_by_school_df = percent_pass_math_by_school.reset_index(name="% Passing Maths")

In [36]:
passing_reading_score_cond = school_data_complete.loc[school_data_complete["reading_score"] >= 50]

In [37]:
passing_reading_by_school = passing_reading_score_cond.groupby(["school_name"])

In [38]:
passing_reading_by_school_count = passing_reading_by_school["reading_score"].count()

In [39]:
percent_pass_reading_by_school = passing_reading_by_school_count / students_by_school * 100

In [40]:
percent_pass_reading_by_school_df = percent_pass_reading_by_school.reset_index(name="% Passing Reading")

In [41]:
passing_both_cond = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]

In [42]:
passing_both_by_school = passing_both_cond.groupby(["school_name"])

In [43]:
passing_both_by_school_count = passing_both_by_school["reading_score"].count()

In [44]:
percent_pass_both_by_school = passing_both_by_school_count / students_by_school * 100

In [45]:
percent_pass_both_by_school_df = percent_pass_both_by_school.reset_index(name="% Overall Passing")

In [46]:
per_school_summary_2 = pd.merge(school_summary_1, students_by_school_df, how="left", on=["school_name"])

In [47]:
per_school_summary_3 = pd.merge(per_school_summary_2, average_maths_by_school_df, how="left", on=["school_name"])

In [48]:
per_school_summary_4 = pd.merge(per_school_summary_3, average_reading_by_school_df, how="left", on=["school_name"])

In [49]:
per_school_summary_5 = pd.merge(per_school_summary_4, percent_pass_math_by_school_df, how="left", on=["school_name"])

In [50]:
per_school_summary_6 = pd.merge(per_school_summary_5, percent_pass_reading_by_school_df, how="left", on=["school_name"])

In [1117]:
per_school_summary = pd.merge(per_school_summary_6, percent_pass_both_by_school_df, how="left", on=["school_name"])

In [1118]:
per_school_summary["Per Student Budget"] = per_school_summary["budget"] / per_school_summary["Total Students"]

In [1119]:
per_school_summary = per_school_summary.sort_values(by="school_name")

In [1120]:
per_school_summary = per_school_summary.reset_index(drop=True)

In [1121]:
per_school_summary.rename(columns={"school_name": "", "type": "School Type", "budget": "Total School Budget"}, inplace=True)

In [1122]:
per_school_summary = per_school_summary[["", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1123]:
per_school_summary.set_index(per_school_summary.columns[0])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [1124]:
top_performing_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head().set_index(top_performing_schools.columns[0])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

In [1125]:
bottom_performing_schools = per_school_summary.sort_values("% Overall Passing")
bottom_performing_schools.head().set_index(bottom_performing_schools.columns[0])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [1126]:
year_9_df = student_data.loc[student_data["year"] == 9, :]

In [1127]:
year_9_maths_df_cleaned = year_9_df[["school_name", "maths_score"]]

In [1128]:
year_9_maths_df_cleaned = year_9_maths_df_cleaned.reset_index(drop=True)

In [1129]:
year_9_maths_by_school = year_9_maths_df_cleaned.groupby("school_name")

In [1130]:
year_9_maths = year_9_maths_by_school["maths_score"].sum()

In [1131]:
year_9_students = year_9_math_by_school["school_name"].count()

In [1132]:
year_9_av_maths = year_9_maths / year_9_students

In [1133]:
year_9_av_maths_df = year_9_av_maths.reset_index(name="Year 9")

In [1134]:
year_10_df = student_data.loc[student_data["year"] == 10, :]

In [1135]:
year_10_maths_df_cleaned = year_10_df[["school_name", "maths_score"]]

In [1136]:
year_10_maths_df_cleaned = year_10_maths_df_cleaned.reset_index(drop=True)

In [1137]:
year_10_maths_by_school = year_10_maths_df_cleaned.groupby("school_name")

In [1138]:
year_10_maths = year_10_maths_by_school["maths_score"].sum()

In [1139]:
year_10_students = year_10_maths_by_school["school_name"].count()

In [1140]:
year_10_av_maths = year_10_maths / year_10_students

In [1141]:
year_10_av_maths_df = year_10_av_maths.reset_index(name="Year 10")

In [1142]:
year_11_df = student_data.loc[student_data["year"] == 11, :]

In [1143]:
year_11_maths_df_cleaned = year_11_df[["school_name", "maths_score"]]

In [1144]:
year_11_maths_df_cleaned = year_11_maths_df_cleaned.reset_index(drop=True)

In [1145]:
year_11_maths_by_school = year_11_maths_df_cleaned.groupby("school_name")

In [1146]:
year_11_maths = year_11_maths_by_school["maths_score"].sum()

In [1147]:
year_11_students = year_11_maths_by_school["school_name"].count()

In [1148]:
year_11_av_maths = year_11_maths / year_11_students

In [1149]:
year_11_av_maths_df = year_11_av_maths.reset_index(name="Year 11")

In [1150]:
year_12_df = student_data.loc[student_data["year"] == 12, :]

In [1151]:
year_12_maths_df_cleaned = year_12_df[["school_name", "maths_score"]]

In [1152]:
year_12_maths_df_cleaned = year_12_maths_df_cleaned.reset_index(drop=True)

In [1153]:
year_12_maths_by_school = year_12_maths_df_cleaned.groupby("school_name")

In [1154]:
year_12_maths = year_12_maths_by_school["maths_score"].sum()

In [1155]:
year_12_students = year_12_maths_by_school["school_name"].count()

In [1156]:
year_12_av_maths = year_12_maths / year_12_students

In [1157]:
year_12_av_maths_df = year_12_av_maths.reset_index(name="Year 12")

In [1158]:
by_year_maths_scores_df_1 = pd.merge(year_9_av_maths_df, year_10_av_maths_df, how="left", on=["school_name"])

In [1159]:
by_year_maths_scores_df_2 = pd.merge(by_year_maths_scores_df_1, year_11_av_maths_df, how="left", on=["school_name"])

In [1160]:
maths_scores_by_year_1 = pd.merge(by_year_maths_scores_df_2, year_12_av_maths_df, how="left", on=["school_name"])

In [1161]:
maths_scores_by_year_1.rename(columns={"school_name": ""}, inplace=True)
maths_scores_by_year_1.set_index(maths_scores_by_year_1.columns[0])

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [1162]:
year_9_reading_df_cleaned = year_9_df[["school_name", "reading_score"]]

In [1163]:
year_9_reading_df_cleaned = year_9_reading_df_cleaned.reset_index(drop=True)

In [1164]:
year_9_reading_by_school = year_9_reading_df_cleaned.groupby("school_name")

In [1165]:
year_9_reading = year_9_reading_by_school["reading_score"].sum()

In [1166]:
year_9_av_reading = year_9_reading / year_9_students

In [1167]:
year_9_av_reading_df = year_9_av_reading.reset_index(name="Year 9")

In [1168]:
year_10_reading_df_cleaned = year_10_df[["school_name", "reading_score"]]

In [1169]:
year_10_reading_df_cleaned = year_10_reading_df_cleaned.reset_index(drop=True)

In [1170]:
year_10_reading_by_school = year_10_reading_df_cleaned.groupby("school_name")

In [1171]:
year_10_reading = year_10_reading_by_school["reading_score"].sum()

In [1172]:
year_10_av_reading = year_10_reading / year_10_students

In [1173]:
year_10_av_reading_df = year_10_av_reading.reset_index(name="Year 10")

In [1174]:
year_11_reading_df_cleaned = year_11_df[["school_name", "reading_score"]]

In [1175]:
year_11_reading_df_cleaned = year_11_reading_df_cleaned.reset_index(drop=True)

In [1176]:
year_11_reading_by_school = year_11_reading_df_cleaned.groupby("school_name")

In [1177]:
year_11_reading = year_11_reading_by_school["reading_score"].sum()

In [1178]:
year_11_av_reading = year_11_reading / year_11_students

In [1179]:
year_11_av_reading_df = year_11_av_reading.reset_index(name="Year 11")

In [1180]:
year_12_reading_df_cleaned = year_12_df[["school_name", "reading_score"]]

In [1181]:
year_12_reading_df_cleaned = year_12_reading_df_cleaned.reset_index(drop=True)

In [1182]:
year_12_reading_by_school = year_12_reading_df_cleaned.groupby("school_name")

In [1183]:
year_12_reading = year_12_reading_by_school["reading_score"].sum()

In [1184]:
year_12_av_reading = year_12_reading / year_12_students

In [1185]:
year_12_av_reading_df = year_12_av_reading.reset_index(name="Year 12")

In [1186]:
by_year_reading_scores_df_1 = pd.merge(year_9_av_reading_df, year_10_av_reading_df, how="left", on=["school_name"])

In [1187]:
by_year_reading_scores_df_2 = pd.merge(by_year_reading_scores_df_1, year_11_av_reading_df, how="left", on=["school_name"])

In [1188]:
reading_scores_by_year_1 = pd.merge(by_year_reading_scores_df_2, year_12_av_reading_df, how="left", on=["school_name"])

In [1189]:
reading_scores_by_year_1.rename(columns={"school_name": ""}, inplace=True)
reading_scores_by_year_1.set_index(reading_scores_by_year_1.columns[0])

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [1190]:
school_spending = per_school_summary_7[["Per Student Budget", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1191]:
print(school_spending["Per Student Budget"].max())
print(school_spending["Per Student Budget"].min())

655.0
578.0

In [1192]:
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [1193]:
pd.cut(school_spending["Per Student Budget"], spending_bins, labels=spending_labels).head()

0    $585-630
1       <$585
2    $630-645
3    $630-645
4    $585-630
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [1194]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"], spending_bins, labels=spending_labels)

C:\Users\AnnaKhayrullina\AppData\Local\Temp\ipykernel_20268\511064043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"], spending_bins, labels=spending_labels)

In [1195]:
spending_summary_1 = school_spending_df.groupby("Spending Ranges (Per Student)").mean()

In [1196]:
spending_summary = spending_summary_1[["Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [1197]:
school_size = per_school_summary_7[["Total Students", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1198]:
print(school_size["Total Students"].max())
print(school_size["Total Students"].min())

4976
427

In [1199]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [1200]:
pd.cut(school_size["Total Students"], size_bins, labels=size_labels).head()

0     Large (2000-5000)
1    Medium (1000-2000)
2     Large (2000-5000)
3     Large (2000-5000)
4    Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [1201]:
school_size["School Size"] = pd.cut(school_size["Total Students"], size_bins, labels=size_labels)

C:\Users\AnnaKhayrullina\AppData\Local\Temp\ipykernel_20268\3754009874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_size["School Size"] = pd.cut(school_size["Total Students"], size_bins, labels=size_labels)

In [1202]:
size_summary_1 = school_size.groupby("School Size").mean()

In [1203]:
size_summary = size_summary_1[["Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1204]:
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [1205]:
school_type = per_school_summary_7[["School Type", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1206]:
type_summary_1 = school_type.groupby("School Type").mean()

In [1207]:
type_summary = type_summary_1[["Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

In [1208]:
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340

School size has the biggest impact on overall student performance, with small schools ouperforming large schools by 9 percentage points.

Spending appears to be negatively correlated with overall student performance, with lower-spending schools outperforming higher-spending schools. The lowest spending schools outperform the highest spending schools by almost 10 percentage points.

There does not appear to be any significant difference in average performance between government and independent schools. However, the top two performing schools are independent, and the bottom two are government.

Within-school performance is reasonably consistent across academic years.